{% extends "shop/base.html" %}
{% load static %}
{% load cart_tags %}
{% block title %} Your shopping cart {% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<table class="cart">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Unit price</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.items.all %}
      {% with product=item.product %}
      <tr>
        <td>
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static 'img/no_image.png' %}{% endif %}">
          </a>
        </td>
        <td> {{ product.name }} </td>
        <td>
          <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% show_item_form item.quantity %}
          </form>
        </td>
        <td><a href="{% url 'cart:cart_remove' product.id %}"> Remove </a></td>
      <td class="num">${{ item.price }} </td>
      <td class="num">${{ item.get_price }} </td>
      </tr>
      {% endwith %}
    {% endfor %}
    <tr class="subtotal">
      <td>Subtotal</td>
      <td colspan="4"></td>
      <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
    </tr>
    {% for coupon in cart.coupons.all %}
      <tr>
        <td>
          <form action='{% url "coupons:detach" coupon.id %}' method="post">
            {% csrf_token %}
            <button type="input" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
          "{{ coupon.code }}" coupon ({{ coupon.discount }}% off for products {{coupon.seller}})
        </td>
        <td colspan="4"></td>
        <td class="num neg">
          -${% show_discount cart coupon %}
        </td>
      </tr>
    {% empty %}
      <p>No Coupon</p>
    {% endfor %}
    <tr class="total">
      <td>Total</td>
      <td colspan="4"></td>
      <td class="num">${{ cart.get_total_price_after_discount|floatformat:"2" }}
    </tr>
  </tbody>
</table>

<p>Apply a coupon:</p>
<form action='{% url "coupons:apply" %}' method="post">
  {{ coupon_apply_form }}
  {% csrf_token %}
  <input type="submit" value="Apply">
</form>

<p class="text-right">
  <a href="{% url 'shop:product_list' %}" class="buttonlight">Continue shopping</a>
  <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
</p>
{% endblock %}
