{% extends "allauth/account/signup.html" %}
{% load static%}
{% block content %}
  <body>

    <div class="limiter">
	<div class="container-login">
	<span class="login100-form-title p-b-40">
						Seller Registration
					</span>
	</div>
		<div class="container-login100">
			<div class="wrap-login100 p-t-20 p-b-30">
				<form method= "post" enctype="multipart/form-data">
					{% csrf_token %}

					{% if user_form.errors %}
    				{% for field in user_form %}
        			{% for error in field.errors %}
		            <div class="alert alert-danger">
		                <strong>{{ error|escape }}</strong>
		            </div>
        			{% endfor %}
    				{% endfor %}
    				{% for error in user_form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
    				{% endfor %}
					{% endif %}

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter first name: ">
						<input class="input100" type="text" name="{{user_form.first_name.name}}" placeholder="{{user_form.first_name.label}}" maxlength="150" id="{{user_form.first_name.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>

					<div  class="wrap-input100 validate-input m-b-16" data-validate="Please enter last name: ">
						<input class="input100" type="text" name="{{user_form.last_name.name}}" maxlength="150" placeholder="{{user_form.last_name.label}}" id="{{user_form.last_name.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username: ">
						<input class="input100" type="text" name="{{user_form.username.name}}" maxlength="100" placeholder="{{user_form.username.label}}" id="{{user_form.username.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email: ">
						<input class="input100" type="email" name="{{user_form.email.name}}" maxlength="254"  placeholder="{{user_form.email.label}}" id="{{user_form.email.id_for_label}}" required="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-20" data-validate = "Please enter password" required>
						<span class="btn-show-pass" onclick="toggle()">
							<i class="fa fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="{{user_form.password.name}}" placeholder="{{user_form.password.label}}" id="{{user_form.password.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>


          <div class="wrap-input100 validate-input m-b-20" data-validate = "Please confirm the password" required>
          	<span class="btn-show-pass" onclick="toggle()">
          		<i class="fa fa fa-eye"></i>
          	</span>
          	<input class="input100" type="password" name="{{user_form.confirm_password.name}}" placeholder="{{user_form.confirm_password.label}}" id="{{user_form.confirm_password.id_for_label}}" required>
          	<span class="focus-input100"></span>
        	</div>


          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Company Name: ">
						<input class="input100" type="text" name="{{seller_form.name.name}}" maxlength="100" placeholder="{{seller_form.name.label}}" id="{{seller_form.name.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>

					{{user_form.date_joined}}
        </div>
		<div style="width: 10%;"></div>
        <div class="wrap-login100 p-t-20 p-b-30">

           <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Country: ">
						<input class="input100" type="text" name="{{seller_form.country.name}}" maxlength="100" placeholder="{{seller_form.country.label}}" id="{{seller_form.country.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>
           <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Province: ">
						<input class="input100" type="text" name="{{seller_form.province.name}}" maxlength="100" placeholder="{{seller_form.province.label}}" id="{{seller_form.province.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter City: ">
						<input class="input100" type="text" name="{{seller_form.city.name}}" maxlength="100" placeholder="{{seller_form.city.label}}" id="{{seller_form.city.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Address: ">
						<input class="input100" type="text" name="{{seller_form.address.name}}" maxlength="100" placeholder="{{seller_form.address.label}}" id="{{seller_form.address.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Phone: ">
						<input class="input100" type="text" name="phone_0" maxlength="100" placeholder="{{seller_form.phone.label}}" id="id_phone_0" required>
						<span class="focus-input100"></span>
					</div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Phone: ">
            <input class="input100" type="text" name="phone_1" maxlength="100" placeholder="ext." id="id_phone_1">
						<span class="focus-input100"></span>
					</div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Web address: ">
						<input class="input100" type="url" name="{{seller_form.web_address.name}}" maxlength="100" placeholder="{{seller_form.web_address.label}}" id="{{seller_form.web_address.id_for_label}}" required>
						<span class="focus-input100"></span>
					</div>



			</div>
		</div>
		<div class="container-login">
	<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Sign Up
						</button>
					</div>

					<div class="flex-col-c p-t-64">
						<a href="{% url 'account_login'%}" class="txt3 bo1 hov1">
							Login
						</a>
						<a href="{% url 'sellers:seller_registration'%}" class="txt3 bo1 hov1">
							Register as User
						</a>

					</div>

	</div>
	</div>
	</form>
  </body>
{% endblock content %}
